<template name="about">
  <div class="container center-align">
    <div class="row">
      <img alt='Luxur-E Sedan Services Owner Nick Szewczyk' class="responsive-img circle bw" src="/images/nick_headshot.png">
      <h3>Nick Szewczyk</h3>
      <div class="divider"></div>
      <h4>About:</h4>
      <p class="flow-text">Luxur-E Sedan Services was founded by Nicholas Szewczyk, a Madison, Wisconsin local dedicated to helping create a cleaner global environment. Nick has decided to start his fight for our planet right here in Madison with the first all-electric sedan service in the state of Wisconsin.</p>
      <p class="flow-text">Nick was born and raised in Madison. Upon graduating high school he enlisted in the United States Army with the intent of fighting the global war on terror. He did just that and spent two 12 month deployments in Iraq as an Infantryman. After leaving the military in 2009 Nick began his studies at Madison College, he later attended the University of Wisconsin-Milwaukee.</p>
      <p class="flow-text">In early 2015, Nick started to think of ways in which he could incorporate his passion for cars as well as his commitment to improving life on Earth. Working in the public transportation industry, Nick connected these ideas with his career. It was here that Luxur-E Sedan Services was born.</p>
      <p class="flow-text">Nick is now on a mission to provide the highest quality personal transportation services using emission-free vehicles throughout southern Wisconsin.</p>
    </div>
  </div>
</template>