<template name="about">
  <div class="container center-align">
    <div class="row">
      <img class="responsive-img circle bw" src="/images/nick_headshot.png">
      <h3>Nick Szewczyk</h3>
      <div class="divider"></div>
      <h4>About:</h4>
      <p class="flow-text">Lorem ipsum dolor sit amet, usu quot porro perfecto id, falli nullam persecuti ea usu. Modus novum everti mel ea. Usu simul soleat consequuntur ne. Cu qui quem quodsi, nihil bonorum electram ad has. Et elitr iudicabit consequuntur eam, in mel dico exerci invidunt, mei porro assentior concludaturque eu.</p>
    </div>
  </div>
</template>