.bw {
  padding-top: 7vh;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.bw:hover {
  -webkit-filter: grayscale(0%);
}