<template name="values">
  <div class="container">
    <div class="row center-align">
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-leaf"></i> Green</h3>
        <p class="flow-text">Our “Green Mission” is to create a transportation company based solely off of emissions free vehicles. We are committed to using electrically powered vehicles only. By doing so, we can help create more environmentally friendly means of transportation in Wisconsin.  </p>
      </div>
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-compass"></i> Reliable</h3>
        <p class="flow-text">On time and at your service! Upon receiving your reservation, we’ll be prepared to meet any and all services that you may require from us. Please make note of any special requests that you may have. Luxur-E Sedan Services is here for you and your family any time, any day.</p>
      </div>
    </div>
    <div class="row center-align">
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-fighter-jet"></i> Veteran</h3>
        <p class="flow-text">Luxur-E Sedan Services is a United States Veteran owned and operated business. We follow a strict attention to detail approach with a leading class of professionalism. </p>
      </div>
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-bolt"></i> Luxur-E</h3>
        <p class="flow-text">Luxury is the name of the game. Our vehicles are equipped with climate control as well as heated seats throughout to provide our customers with the most comfortable experience. The vehicles also allow an ample amount of leg room.  Sit back and enjoy your Luxur-E experience.</p>
      </div>
    </div>
  </div>
</template>