<template name="values">
  <div class="container">
    <div class="row center-align">
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-leaf"></i> Green</h3>
        <p class="flow-text">Lorem ipsum dolor sit amet, leo nibh luctus, eget id, turpis eleifend. Facilisi sed, in vel, sunt sollicitudin nullam. Lobortis orci dignissim, lectus quisque diam, in suspendisse fermentum. Pulvinar wisi, non curabitur sit. Nunc sapien. Aptent expedita et</p>
      </div>
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-compass"></i> Reliable</h3>
        <p class="flow-text">Lorem ipsum dolor sit amet, leo nibh luctus, eget id, turpis eleifend. Facilisi sed, in vel, sunt sollicitudin nullam. Lobortis orci dignissim, lectus quisque diam, in suspendisse fermentum. Pulvinar wisi, non curabitur sit. Nunc sapien. Aptent expedita et</p>
      </div>
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-fighter-jet"></i> Veteran</h3>
        <p class="flow-text">Lorem ipsum dolor sit amet, leo nibh luctus, eget id, turpis eleifend. Facilisi sed, in vel, sunt sollicitudin nullam. Lobortis orci dignissim, lectus quisque diam, in suspendisse fermentum. Pulvinar wisi, non curabitur sit. Nunc sapien. Aptent expedita et</p>
      </div>
      <div class="col s12 m6 l6">
        <h3><i class="fa fa-bolt"></i> Fast</h3>
        <p class="flow-text">Lorem ipsum dolor sit amet, leo nibh luctus, eget id, turpis eleifend. Facilisi sed, in vel, sunt sollicitudin nullam. Lobortis orci dignissim, lectus quisque diam, in suspendisse fermentum. Pulvinar wisi, non curabitur sit. Nunc sapien. Aptent expedita et</p>
      </div>
    </div>
  </div>
</template>