<template name='thanks'>
  <div class="parallax-container">
    <div class="parallax"><img src="images/Tesla-Model-S-1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Thank You</h2>
      <p class="grey-text text-darken-3 lighten-3">Thank you for making a reservation with Luxur-E Sedan Services, LLC. We appreciate your busineess.</p>
      <p>If you have any questions or comments, please contact us at:</p>
      <p>Call Us: <a class="light-green-text text-accent-3" href="tel:+16086226966"><i class="fa fa-phone"></i> 608-622-6966</a></p>
      <p>Email Us: <a class=" light-green-text text-accent-3" href="mailto:madison@luxur-e.com"><i class="fa fa-envelope"></i> madison@luxur-e.com</a></p>
      <p class="grey-text text-darken-3 lighten-3">We look forward to seeing you soon.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/tesla2.jpg"></div>
  </div>
</template>