<template name="services">
  <div class="container">
    <div class="row center-align">
      <div class="col s12">
        <h3><i class="fa fa-plane"></i> Airport</h3>
        <p class="flow-text">
          Traveling in and out of Madison via Dane County Regional Airport, Milwaukee General Mitchell, Chicago O’hare, or Chicago Midway? We’ve got you taken care of.  Take a look at our scheduling options to see how we can get you going safely on your travels or get you home after a long trip. There’s no destination too far. Count on us to get you where you need to be on time.
        </p>  
      </div>
      <div class="col s12">
        <h3><i class="fa fa-hourglass-half"></i> Hourly Car For Hire</h3>
        <p class="flow-text">
          Whether you need help with the groceries, picking the kids up from school, or going on a shopping excursion, we can help keep things simple for you. We also have a vast knowledge of the Madison area including the University of Wisconsin-Madison Campus and would be more than happy to provide a tour for anyone new to the area. Let us know what type of occasion you are planning and if we can be of service to you.
        </p>  
      </div> 
      <div class="col s12">
        <h3><i class="fa fa-building-o"></i> Corporate Services</h3>
        <p class="flow-text">
          Luxur-E Sedan Services treats every customer as if they were the CEO of a Fortune 500 company. From employees traveling in and out of Madison on business to your most important customers or business partners, let us take care of your precious cargo.
        </p>  
      </div>       
    </div>
  </div>
</template>