<template name="services">
  <div class="container">
    <div class="row center-align">
      <div class="col s12">
        <h3><i class="fa fa-plane"></i> Airport</h3>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, usu quot porro perfecto id, falli nullam persecuti ea usu. Modus novum everti mel ea. Usu simul soleat consequuntur ne. Cu qui quem quodsi, nihil bonorum electram ad has. Et elitr iudicabit consequuntur eam, in mel dico exerci invidunt, mei porro assentior concludaturque eu.
        </p>  
      </div>
      <div class="col s12">
        <h3><i class="fa fa-hourglass-half"></i> Hourly Car For Hire</h3>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, usu quot porro perfecto id, falli nullam persecuti ea usu. Modus novum everti mel ea. Usu simul soleat consequuntur ne. Cu qui quem quodsi, nihil bonorum electram ad has. Et elitr iudicabit consequuntur eam, in mel dico exerci invidunt, mei porro assentior concludaturque eu.
        </p>  
      </div> 
      <div class="col s12">
        <h3><i class="fa fa-building-o"></i> Corporate Services</h3>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, usu quot porro perfecto id, falli nullam persecuti ea usu. Modus novum everti mel ea. Usu simul soleat consequuntur ne. Cu qui quem quodsi, nihil bonorum electram ad has. Et elitr iudicabit consequuntur eam, in mel dico exerci invidunt, mei porro assentior concludaturque eu.
        </p>  
      </div>       
    </div>
  </div>
</template>