<template name="footer">
  <footer class="page-footer footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col l3 s12 offset-l1">
          <h5 class="white-text">Luxur-E <em>(lux-ur-Electric)</em></h5>
          <p class="grey-text text-lighten-4">Noun:    The state of great comfort and extravagant living while traveling in a luxury electric vehicle. 
          <br>
          <em>“they traveled in luxur-e”</em>  
          </p>
        </div>
        <div class="col l2 offset-l2 s12">
          <h5 class="white-text">Follow Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/luxurEsedanservices"><i class="fa fa-facebook-official"></i> Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/LuxurE_SS"><i class="fa fa-twitter"></i> Twitter</a></li>
          </ul>
        </div>
        <div class="col l2 offset-l1 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="mailto:madison@luxur-e.com"><i class="fa fa-envelope"></i> madison@luxur-e.com</a></li>
            <li><a class="grey-text text-lighten-3" href="tel:+16086226966"><i class="fa fa-phone"></i> 608-622-6966</a></li>
            <li class="white-text"><i class="fa fa-clock-o"></i> Office: Daily 7am-10pm</li>
            <li class="white-text"><i class="fa fa-car"></i> Reservations Available: 24/7</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Luxur-e LLC
      </div>
    </div>
  </footer>
</template>