<template name="navbar">
  <nav>
    <div class="nav-wrapper">
      <a href="{{pathFor 'main'}}" class="brand-logo"><img src="images/logo-small-white.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{pathFor 'schedule'}}">Schedule a Pick Up</a></li>
        <li><a href="badges.html">About Luxur-E</a></li>
        <li><a href="collapsible.html">Other Pages</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{pathFor 'schedule'}}">Schedule a Pick Up</a></li>
        <li><a href="badges.html">About Luxur-E</a></li>
        <li><a href="collapsible.html">Other Pages</a></li>
      </ul>
    </div>
  </nav>
</template>