.hero {
  height: 100vh;
  background: url(images/nick-new-hero.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.schedule {
  padding-top: 50vh;
}